@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
:root {
    --color-600: hsl(0, 0%, 10%);
    --color-500: hsl(0, 0%, 20%);
    --color-200: hsl(0, 0%, 75%);
    --color-100: hsl(0, 0%, 85%);
    --background: hsl(0, 0%, 20%);
    --primary-700: hsl(234, 67%, 20%);
    --primary-400: hsl(234, 43%, 56%);
    --primary-300: hsl(234, 66%, 40%);
    --primary-200: hsl(234, 66%, 95%);
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
}

.form-container {
    padding: 20px;
    max-width: 320px;
    border: 2px dashed hsl(0, 43%, 56%);
}

    .register-form {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto;
        align-items: center;
    }

    .register-form .register-btn {
        grid-column: 2;
    }

    
label {
	font-size: 12px;
	line-height: 1.43;
	color: var(--color-200);
}
@media all and (min-width: 520px) {
    label {
        font-size: 14px;
    }
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 7px 12px;
    border: 1px solid var(--color-500);
    border-radius: 3px;
    line-height: 1.715;
    font-size: 14px;
    background-color: var(--input-background);
    color: var(--color-100);
    box-shadow: 0, 0, 1px, 0, var(--color-500);
    appearance: none;
    transition: background .5s linear;
}

button {
    position: relative;
    background-color: var(--primary-400);
    padding: 8px 12px;
    border-radius: 100vw;
    color: var(--color-600);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}
button:hover {
    background-color: var(--primary-300);
    color: var(--color-600);
}