.darkTheme {
    --color-700: hsl(0, 0%, 0%);
    --color-600a: hsla(0, 0%, 10%, .75);
    --color-600: hsl(0, 0%, 10%);
    --color-500: hsl(0, 0%, 20%);
    --color-400: hsl(0, 0%, 35%);
    --color-300: hsl(0, 0%, 55%);
    --color-200: hsl(0, 0%, 75%);
    --color-100: hsl(0, 0%, 85%);
    --background: hsl(0, 0%, 20%);
    --body-background: hsl(0, 0%, 10%);
    --title-color: hsl(0, 0%, 55%);
    --input-background: hsl(0, 0%, 10%);
    --overlay-background: hsl(0, 0%, 10%);
    --th-background: hsl(0, 0%, 20%);
    --th-border: hsl(0, 0%, 40%);
    --th-color: hsl(0, 0%, 65%);
    --td-background: hsl(0, 0%, 20%);
    --td-color: hsl(0, 0%, 75%);
    --primary-700: hsl(234, 67%, 20%);
    --primary-400: hsl(234, 43%, 56%);
    --primary-300: hsl(234, 66%, 40%);
    --primary-200: hsl(234, 66%, 95%);
    --clr-red-600: hsl(6, 100%, 25%);
    --clr-red-500: hsl(6, 75%, 45%);
    --clr-red-400: hsl(6, 100%, 65%);
    --clr-red-200: hsl(6, 50%, 45%);
    --clr-orange-500: hsl(40, 100%, 35%);
    --clr-orange-400: hsl(40, 100%, 45%);
    --clr-orange-200: hsl(40, 80%, 55%);
    --clr-yellow-500: hsl(60, 100%, 35%);
    --clr-yellow-400: hsl(60, 100%, 55%);
    --clr-updated-600: hsl(60, 100%, 30%);
    --clr-updated-400: hsl(60, 100%, 90%);
    --clr-blue-600: hsl(200, 50%, 15%);
    --clr-blue-400: hsl(200, 15%, 40%);
    --clr-blue-200: hsl(200, 50%, 40%);
    --clr-green-700: hsl(122, 100%, 15%);
    --clr-green-400: hsl(122, 100%, 40%);
    --clr-green-300: hsl(122, 60%, 40%);
    --clr-green-100: hsl(122, 50%, 85%);
    --desc-1: hsl(240, 60%, 16%);
    --desc-2: hsl(0, 60%, 16%);
    --desc-3: hsl(50, 60%, 16%);
    --desc-4: hsl(100, 60%, 16%);
    --desc-5: hsl(150, 60%, 16%);
    --desc-6: hsl(200, 60%, 16%);
    --color-dark: hsl(0, 0%, 20%);
}